


<div class="container cta-100 ">
<div class="container">
  <div class="row blog">
    <div class="col-md-12">
       <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <%= render @posts %>              
            </div>
          </div>

    </div>
  </div>
</div>
</div>