<div class="container">
 <div class="row login-form">
  <div class="col-sm-6 col-sm-offset-3">
   <h2 class="text-center">Create New Post</h2>
        <%= render 'posts/new/post_form' %>
  </div>
</div>
</div>